
<%= simple_form_for @task.nil? ? Task.new : @task, :url => url_for(:action => 'create', :controller => 'tasks'), :html=>{:remote=>true, :id=>"new-task-form"} do |f| %>


  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :priority %>
    <%= f.input :due_date, :label=>"Due Date", :wrapper=>:prepend do %>
      <span class="add-on"><i class="icon-calendar"></i></span>
      <%= f.input_field :due_date, :as=>:string, :class=>"datepicker input-small"%> 
    <% end %>         
  </div>


<% end %>



